[Desktop Entry]
Name=gtkhal
Comment=View calendars stored in local vdirs
Exec=gtkhal
Icon=rs.m7.Gtkhal
Terminal=false
Type=Application
Categories=Office;Calendar;
Keywords=calendar;agenda;vdir;khal;
StartupNotify=true
