---
title: Publications
description: My research papers
permalink: /publications/
listing: true
---

{% assign publications = site.publications | reverse %}
{% for pub in publications %}
  <article id="{{ pub.slug }}">
    <header>
      <p>
        <time datetime="{{ pub.date | date_to_xmlschema }}">
          {{ pub.date | date_to_long_string: "ordinal" }}
        </time>
      </p>
      <h2><a href="{{ pub.url }}">{{ pub.title }}</a></h2>
    </header>
    <section>
      {% if pub.citation.conference_title %}<p>{{ pub.citation.conference_title }}</p>{% endif %}
    </section>
    <footer>
      <p>
        <a href="{{ pub.url }}">Web edition</a> ·
        <a class="file" href="{{ pub.citation.pdf_url }}">PDF</a> ·
        <a class="doi" href="https://doi.org/{{ pub.citation.doi }}">{{ pub.citation.doi }}</a>
      </p>
    </footer>
  </article>
{% endfor %}
