[Desktop Entry]
Name=Khora
Comment=View calendars stored in local vdirs
Exec=khora
Icon=rs.m7.Khora
Terminal=false
Type=Application
Categories=Office;Calendar;
Keywords=calendar;agenda;vdir;khal;
StartupNotify=true
